25

print("veronica")

In [10]:
a=345

In [7]:
a=35
b=25
c=a+b
print("value of a :",b)
print(a)
print("sum is",c)

value of a : 25
35
sum is 60

print("1st day of workshop")

In [6]:
a

345

In [8]:
a=587.34578
type(a)

float

In [ ]:
    r

In [1]:
    r

NameError: name 'r' is not defined

print("hello")

# 1st heading
## 2nd 
### 3rd
#### 4th
##### sabse chotA
#######GONE

### JOY #### OF #COMPUTING

*this*
**is**
***amazing***
****guru****

*this* break 
**python**

*joy*<br>
**of**<br>
***computing***<br>
**using** <br>
*python*<br>
*  *  *  *  *aakhri pasta* *  **  * * *
>1.hello<br>
>2.programming<br>

In [1]:
<h2 style="color:blue; font-size:100px;font-style:oblique;background-color:yellow">Naak idii nachisindochhh!!</h2>

SyntaxError: invalid syntax (<ipython-input-1-1638ea6e19b4>, line 1)

In [2]:
<h2 style="color:blue; font-size:100px;font-style:oblique;">Naak idii nachisindochhh!!</h2>

SyntaxError: invalid syntax (<ipython-input-2-c6fa6f40b7b0>, line 1)

In [3]:
<h2 style="color:blue">Naak idii nachisindochhh!!</h2>

SyntaxError: invalid syntax (<ipython-input-3-fe1b636b79ef>, line 1)

In [4]:
<h1 style="color:blue; font-size:100px;font-style:oblique;background-color:yellow">Naak idii nachisindochhh!!</h1>

SyntaxError: invalid syntax (<ipython-input-4-951feb93bf23>, line 1)

In [5]:
<h2 style="color:blue">Naak idii nachisindochhh </h2>

SyntaxError: invalid syntax (<ipython-input-5-c66c89ea3f57>, line 1)

<h2 style="color:blue">Naak idii nachisindochhh </h2>

<h2 style="color:blue; font-size:100px;font-style:oblique;background-color:yellow">Naak idii nachisindochhh!!</h2>

<hr>

# unodered list

<ul>
<li>1</li>
<li>2</li>
<li>3</li>
</ul>

# ordered List

<ol>
<li>1</li>
<li>2</li>
<li>3</li>
</ol>

<p>fjtghghlaerghalrjhfglahdrjkalghtuhuthsjtrhu</p>

<table>
    
</table>

<table style="border:4px solid black">
        <tr style="border:2px grey">
            <th>Sr.No</th>
            <th>Name</th>
            <th>Nen pettina peru</th>
            <th>known for</th>
        </tr>
        <tr style="border:2px grey">
            <td>1.</td>
            <td>Supreeti</td>
            <td>Pandi</td>
            <td>GJ:-)</td>
        </tr> 
        <tr style="border:2px blue">
            <td>2.</td>
            <td>Malathi</td>
            <td>hpy bday cheppu</td>
            <td>dp</td>
        </tr>  
</table>

<a href=<"https://www.google.com/">search</a>

<img  src="sc.png" alt="picture">

In [4]:
a="s"
print(int (a))

ValueError: invalid literal for int() with base 10: 's'

In [5]:
n1=40
n2=70

In [11]:
a=b=c=20
print(a,b,c)
print(id(a))
print(id(b))
print(id(c))

20 20 20
140721178121632
140721178121632
140721178121632

In [7]:
a=b=c=d=e=f

NameError: name 'f' is not defined

In [8]:
a=d=e

NameError: name 'e' is not defined

In [12]:
a=input()
print(a)

25
25

In [14]:
a=int (input())
b=int (input())
c=a+b
print("addition of ",a,b,c)

1
2
addition of  1 2 3

In [1]:
print (floor(10.2))

NameError: name 'floor' is not defined

In [2]:
a=10.2
a//2

5.0

In [3]:
a=10.2
a/2

5.1

In [4]:
a=10
a/2

5.0

In [5]:
a=10
a//2

5

In [6]:
10.6
a//2

5

In [8]:
a=2
b=5
c=a>b?true:false

SyntaxError: invalid syntax (<ipython-input-8-bb710e551e93>, line 3)

In [17]:
#biggest of three
a=int(input())
b=int(input())
c=int(input())
if ((a>b) and (a>c)):
    print ("{} is bigger than {} and {}".format(a,b,c))
elif((b>c) and (b>a)):
    print ("{} is bigger than {} and {}".format(b,a,c))
else:
    print ("{} is bigger than {} and {}".format(c,b,a))

1
2
3
3 is bigger than 2 and 1

In [12]:
a,b,c=int(input()),int(input()),int(input())

1
2
3

In [16]:
a=int(input())
if (a%2==0):
    print ("{} is even".format(a))
else:
    print ("{} is odd".format(a))

2
2 is even

In [19]:
a=int(input("ENTER THE LOWER LIMIT "))
b=int(input("ENTER THE HIGHER LIMIT "))
c=int(input("ENTER ANY VALUE OF YOUR WISH "))
if ((c>a)and(c<b)):
    print ("{} is in the given range".format(c))
else:
    print ("{} is not in the given range".format(c))

ENTER THE LOWER LIMIT 10
ENTER THE HIGHER LIMIT 20
ENTER ANY VALUE OF YOUR WISH 14
14 is in the given range

In [22]:
c=int(input("ENTER ANY year OF YOUR WISH "))
if ((c%400==0)or((c%4==0)and (c%100!=0))):
    print ("{} is a leapyear".format(c))
else:
    print ("{} is not a leap year".format(c))

ENTER ANY year OF YOUR WISH 2000
2000 is a leapyear

In [33]:
b=int(input("ENTER ANY VALUE OF YOUR WISH "))
c=int(input("ENTER the no. whose dividibility uou wanna check"))
if (b%c==0):
    print ("{} is a factor of {}".format(c,b))
elif (c>b):
    print ("out of range")
else:
    print ("{} is not the factor of {}".format(c,b))

ENTER ANY VALUE OF YOUR WISH 1000
ENTER the no. whose dividibility uou wanna check4876
out of range

In [34]:
type("10")

str

In [35]:
print("type(2)")

type(2)

5
5
number hai

In [50]:
a=int(input())
for i in range(1,a,1):
    print (a*i)

5
5
10
15
20

In [83]:
a=int(input())
b=int(input())
sum=0
count=0
for i in range(a,b+1,2):
    if(i%2):
        sum=sum+i
        count=count+1
print(sum)
print(count)

1
10
25
5

In [8]:
a=int(input("the no. whose factors req "))
b=int(input("lower limit "))
count=0
for i in range(b,((a//2)+1)):
    if(a%i==0):
        count=count+1
        print(i)
print("count is {}".format(count))

the no. whose factors req 10
lower limit 1
1
2
5
count is 3

In [3]:
a=int(input())
b=int(input())
while(a>=b):
        print(a,end=" ")
        a=a-1

10
1
10 9 8 7 6 5 4 3 2 1

In [7]:
a=int(input())
count=0
while(a>0):
    a=a//10
    count=count+1
print(count)

34763467
8

In [11]:
a=int(input())
while(a>0):
    r=a%10
    a=a//10
    print(r,end="")

48357098
89075384

In [15]:
s="pythonprogramming"
print(s[0])
print(s[-1])
print(s[0:6])
print(s[6::])
print(s[0::])
print(s[-1:-11])

p
g
python
programming
pythonprogramming

In [16]:
s="pythonprogramming"
print(s[-1:-11])

In [17]:
def add(c,d):
    sum=c+d
    print(sum)
    
add()

3

In [19]:
def reverse():
    s=input()
    print(s[::-1])
reverse()

ramya
aymar

In [22]:
def check4Palindrome():
    s=input()
    r=s[::-1]
    if(r==s):
        return True
    else:
        return False
check4Palindrome()

mom

True

In [23]:
def NoOfDigits():
    s=input()
    r=len(s[0::])
    print(r)
NoOfDigits()

27846
5

In [27]:
def Factorial():
    s=int(input())
    if(s==1):
        return 1
    else:
        while(s<1):
            s=s*(s-1)
            return s
Factorial()

4

In [17]:
def Factorial(num):
    if (num>1):
        return (num*Factorial(num-1))
    else: 
        return 1 
Factorial(int(input()))

5

120

In [19]:
print(dir(str),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [153]:
s="l i fe i  sb ea U t i ful"

s.zfill(5)
print(s)

l i fe i  sb ea U t i ful

In [45]:
s="yeh jawaani hai diwaani"
s.title()

'Yeh Jawaani Hai Diwaani'

In [47]:
s='Yeh Jawaani Hai Diwaani'
s.upper()

'YEH JAWAANI HAI DIWAANI'

In [53]:
s='YEH JAWAANI HAI DIWAANI'
s.casefold()
s.endswith('AANI')
s.split('HAI')

['YEH JAWAANI ', ' DIWAANI']

In [63]:
name=(input())
age=int(input())
h="hey i am {1} nice to meet you dear {0}".format(name,age)
print(h)

Veronica
25
hey i am 25 nice to meet you dear Veronica

In [64]:
st="      surya     "
print(st.strip())
st.rstrip()
st.lstrip()

surya

'surya     '

In [65]:
s="hi"

In [66]:
list=[10,20,30,40]
list

[10, 20, 30, 40]

In [75]:
list=[4,"sun",5.5,7,8,]
list
list[0:2]
list[-1]
list[::-1]

[8, 7, 5.5, 'sun', 4]

In [76]:
print(dir(list),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [79]:
a=[1,2,3,4]
b=[6,7,8,9]
a.append(b)

print(a)

[1, 2, 3, 4, [6, 7, 8, 9]]

In [81]:
c=a.copy()
print(c)

[1, 2, 3, 4, [6, 7, 8, 9]]

In [87]:
a=[1,2,3,4]
b=[6,7,8,9]
c=a.copy()
print(c)

[1, 2, 3, 4]

In [90]:
a=[1,2,3,4]
b=[6,7,8,9]
c=a.append()
print(c)

[1, 2, 3, 4, [6, 7, 8, 9]]

In [91]:
a=[1,2,3,4]
b=[6,7,8,9]
c=a.copy()
print(c)

[1, 2, 3, 4]

In [106]:
a=[1,4,3,2]
a.pop()
print(a)

[1, 4, 3]

In [109]:
a=[1,4,3,2]
a.remove(2)
print(a)

[1, 4, 3]

In [111]:
print(dir(tuple),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [114]:
tuple=(1,2,3,3,4)
tuple.count(3)
print(tuple)

(1, 2, 3, 3, 4)

In [115]:
print(dir(set),end=" ")

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [116]:
print(dir(dict),end=" ")

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [119]:
s1={3,4,6,"f",6.4}
print(s1)
s1

{3, 4, 6.4, 6, 'f'}

{3, 4, 6, 6.4, 'f'}

In [120]:
d={1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1}
d

{1}

In [136]:
list=[1,2,3,7,7,7,9,9,9]
list.sort()
c=len(list)
b=list(c-1)
print(b)
a=list.index(b)
list[a-1]

TypeError: 'list' object is not callable

In [142]:
list=[1,2,3,7,7,7,9,9,9]
list.sort()
c=len(list)
d=c-1
print(d)

8

In [149]:
li=[1,3,4,"a","b","c"]
sum=0
count=0
for i in li:
    if(type(i)==int):
        sum=sum+i
        count=count+1
print(sum/count)

2.6666666666666665

In [1]:
s1="A N I T S C O L L E G E"
b=s1.capitalize()

In [3]:
# Complete the solve function below.
def solve(s):
    return s.title()

if __name__ == '__main__':
    s = input()

1 w 2 r 3g

In [5]:
s1={1,2,3,4,5,6}

In [12]:
s2={"c",'d'}
s1.update("e")
s1

{1, 2, 3, 4, 5, 6, 'c', 'd', 'e'}

In [9]:
s1

{1, 2, 3, 4, 5, 6}

In [14]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [15]:
def decimalToBinary(n):  
    return bin(n).replace("0b", "")  
    
# Driver code  
if __name__ == '__main__':  
    print(decimalToBinary(8))  
    print(decimalToBinary(18))  
    print(decimalToBinary(7))

1000
10010
111

In [40]:

d=int(input())
b=bin(i).replace("0b"," ")
h=hex(i).replace("0x"," ").upper()
o=oct(i).replace("0o"," ")
for i in range (1,d+1):
    print("{}  {}  {}  {}".format(i,o,h,b))

17
1   21   11   10001
2   21   11   10001
3   21   11   10001
4   21   11   10001
5   21   11   10001
6   21   11   10001
7   21   11   10001
8   21   11   10001
9   21   11   10001
10   21   11   10001
11   21   11   10001
12   21   11   10001
13   21   11   10001
14   21   11   10001
15   21   11   10001
16   21   11   10001
17   21   11   10001

In [31]:
print("{} {} {} {}".)

SyntaxError: invalid syntax (<ipython-input-31-2017f74817b4>, line 1)

In [32]:
a="my name is ramya"
a.split()

['my', 'name', 'is', 'ramya']

In [25]:
d=int(input())

for i in range (1,d+1):
    
    b=bin(i).replace("0b"," ")
    h=hex(i).replace("0x"," ").upper()
    o=oct(i).replace("0o"," ")
    print ("{} {} {}  {}" .format(i,h,o,b))

17
1  1  1   1
2  2  2   10
3  3  3   11
4  4  4   100
5  5  5   101
6  6  6   110
7  7  7   111
8  8  10   1000
9  9  11   1001
10  A  12   1010
11  B  13   1011
12  C  14   1100
13  D  15   1101
14  E  16   1110
15  F  17   1111
16  10  20   10000
17  11  21   10001

In [42]:
set={"key1":11,"key2":12}

In [43]:
set["key1"]

11

In [47]:
d=int(input())
b=bin(i).replace("0b"," ")
h=hex(i).replace("0x"," ").upper()
o=oct(i).replace("0o"," ")
for i in range (1,d+1):
    p=str(d)
    r=str(o)
    s=str(h)
    t=str(b)
    print (p.rjust(3, ' '),end=" ")
    print (r.rjust(3, ' '),end=" ")
    print (s.rjust(3, ' '),end=" ")
    print (t.rjust(5, ' '),end=" ")

17
 17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001  17  21  11  10001

In [1]:
contacts={}
def addcontacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("added succesfully")
    else:
        print("already exists")
addcontacts("Cy",7013111057)

added succesfully

In [36]:
# example string
string=str(1)
width = 5

# print right justified string
print(string.rjust(width))

    1

In [40]:
string=str(d)
width = 7
print("{}".rjust(width).format(string))

     17

In [64]:
d=int(input())

for i in range (1,d+1):
    
    b=bin(i).replace("0b"," ")
    h=hex(i).replace("0x"," ").upper()
    o=oct(i).replace("0o"," ")
    print("{} {} {} {}".format(i,o,h,b))

17
1  1  1  1
2  2  2  10
3  3  3  11
4  4  4  100
5  5  5  101
6  6  6  110
7  7  7  111
8  10  8  1000
9  11  9  1001
10  12  A  1010
11  13  B  1011
12  14  C  1100
13  15  D  1101
14  16  E  1110
15  17  F  1111
16  20  10  10000
17  21  11  10001

In [45]:
n = int(raw_input())
width = len("{0:b}".format(n))
for i in xrange(1,n+1):
    print "{0:{width}d} {0:{width}o} {0:{width}X} {0:{width}b}".format(i, width=width)

SyntaxError: invalid syntax (<ipython-input-45-3c540724af98>, line 4)

In [2]:
import re

s1=9398431291

In [7]:
def pv(n):
    pattern="^[6-9][0-9]{9}$|[+][9][1][\s][6-9][0-9]{9}$|[+][9][1][6-9][0-9]{9}$"
    if re.match(pattern,n):
        print("phone no. valid")
    else:
        print("invalid")
n=input()
pv(n)

+91 7013111057
phone no. valid

In [1]:
def pv(n):
    pattern="^[6-9][0-9]{9}$|[+][9][1][6-9][0-9]{9}$"
    if re.match(pattern,n):
        return True
    else:
        return False
n=input()
pv(n)

9398431291

NameError: name 're' is not defined

In [2]:
3ravi999@gmail.com
-username "^[a-z0-0][0-9a-z._]{5,30}"
-@ [@]
-domain name [a-z0-9]{3,12}
-extension [.][a-z]{2,4}

SyntaxError: invalid syntax (<ipython-input-2-15cd9bf1b170>, line 1)

In [ ]:
def ev(email):
    pattern="^[a-z0-9A-Z][0-9a-zA-Z._]{5,30}[@][a-z0-9]{3,12}[.][a-z]{2,4}$"
    if re.match(pattern,email):
        return True
    return False
n=input()
ev(n)

In [ ]:
def addcontacts(name,phone,email):
    if name in contacts:
        print("already exists")
    else:
        if not pv(phone):
            print("invalid phone number\")
            return
        if not ev(email):
            print("invalid email")
            return
        newlist=[]
        newlist.append(phone)
        newlist.append(email)
        contacts[name]=newlist
        print("added succesfully")
    return
n,p,e=input().split()
addcontacts(n,p,e)

In [ ]:
def addcontacts(name,phone,email):
    if name in contacts:
        print("already exists")
    else:
        if not pv(phone):
            print("invalid phone number")
            return
        if not ev(email):
            print("invalid email")
            return
        newlist=[]
        newlist.append(phone)
        newlist.append(email)
        contacts[name]=newlist
        print("added succesfully")
    return
n,p,e=input().split()
addcontacts(n,p,e)

In [41]:
f=open("f1.txt","a")
f.write(" name: d ramya")
f.close()

In [25]:
f=open("f1.txt","r")
print(f.read())
f.close()

 name: d ramya
 branch : ece
 year 3rd
 college anits name: d ramya name: d ramya

In [26]:
with open("f1.txt",'r') as d:
    print(d.read())

 name: d ramya
 branch : ece
 year 3rd
 college anits name: d ramya name: d ramya

In [20]:
with open("f1.txt",'r') as f:
    count=0
    for i in f:
        count+=1
    print(count)

4

In [21]:
xzxzsasasadadsfsfsfgdg

NameError: name 'xzxzsasasadadsfsfsfgdg' is not defined

In [22]:
with open("f1.txt",'r') as f:
    print(f.read(10))

 name: d r

In [23]:
with open("f1.txt",'r') as f:
    print(f.readline(10))

 name: d r

In [28]:
with open("f1.txt",'r') as f:
    print(f.readlines(10))

[' name: d ramya\n']

In [29]:
with open("f1.txt",'r') as f:
    print(f.readlines())

[' name: d ramya\n', ' branch : ece\n', ' year 3rd\n', ' college anits name: d ramya name: d ramya']

In [32]:
with open("f1.txt",'r') as f:
    print(f.tell())
    print(f.seek(10))
    print(f.read())
    print(f.tell())

0
10
amya
 branch : ece
 year 3rd
 college anits name: d ramya name: d ramya
81

In [35]:
with open("f1.txt",'r+') as f:
    print(f.tell())
    print(f.read())
    print(f.tell())
    f.write("\nworkshop:python")
    print(f.tell())

0
 name: d ramya
 branch : ece
 year 3rd
 college anits name: d ramya name: d ramya
workshop:python
workshop:python
115
132

In [43]:
f=open("input.txt","r")
a=f.readlines()
a.sort()
print(a)
g=open("output.txt","w")
g.write(str(a))
g.close()
f.close

['0\n', '2\n', '3\n', '4\n', '5\n', '6\n', '9\n']

In [46]:
a="1"
int(a)

1

In [17]:

d=int(input())

for i in range (1,d+1):
    
    b=bin(i).replace("0b"," ")
    c=len(b)
    h=hex(i).replace("0x"," ").upper()
    o=oct(i).replace("0o"," ")
    print("{:3d} {:>3} {:>3}{:>5}".format(i,o,h,b))
print(c)

5
  1   1   1    1
  2   2   2   10
  3   3   3   11
  4   4   4  100
  5   5   5  101
4

In [6]:
li=[1,3,4,"a","b","c"]
sum=0
count=0
for i in li:
    if(type(i)==int):
        sum=sum+i
        count=count+1
print(sum/count)

2.6666666666666665

In [18]:
n=input()
def f1(a)
    a=str(a)

SyntaxError: invalid syntax (<ipython-input-18-cc9a7503a4b8>, line 2)

In [20]:
#comprehension
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
[i*j for i in range(1,11) for j in range(11,12)]

[11, 22, 33, 44, 55, 66, 77, 88, 99, 110]

In [26]:
def print_formatted(number):
    for i in range (1,n+1):
        d=i
        b=bin(i).replace("0b"," ")
        h=hex(i).replace("0x"," ").upper()
        o=oct(i).replace("0o"," ")
        c=len(b)
        e=(2*c)+1
        print("{:2d} {:>2} {:>2}{:>e}".format(d,o,h,b))
    

if __name__ == '__main__':
    n = int(input())
    print_formatted(n)

17

ValueError: Unknown format code 'e' for object of type 'str'

In [8]:
import numpy as np
b=np.array([[1,2,3,4],[4,5,6,7],[7,8,9,10]])

In [30]:
[b[i][j] for i in range(1,3) for j in range(1,3)]

[5, 6, 8, 9]

In [39]:
b[1:,:2]

array([[4, 5],
       [7, 8]])

In [46]:
b[1:,1:2]

array([[5],
       [8]])

In [47]:
b[:2,1:3]

array([[2, 3],
       [5, 6]])

In [13]:
np.arange(30).reshape(5,-1,1)

array([[[ 0],
        [ 1],
        [ 2],
        [ 3],
        [ 4],
        [ 5]],

       [[ 6],
        [ 7],
        [ 8],
        [ 9],
        [10],
        [11]],

       [[12],
        [13],
        [14],
        [15],
        [16],
        [17]],

       [[18],
        [19],
        [20],
        [21],
        [22],
        [23]],

       [[24],
        [25],
        [26],
        [27],
        [28],
        [29]]])

In [21]:
#panda
import pandas as pd
a=pd.Series([1,2,3,4,5.5])

In [22]:
a[1:4]

1    2.0
2    3.0
3    4.0
dtype: float64

In [25]:
import numpy as np
dir(np.numpy)

AttributeError: module 'numpy' has no attribute 'numpy'

In [26]:
import datetime
datetime_object = datetime.datetime.now()
print(datetime_object)

2020-01-25 13:52:35.736809

In [27]:
dir(np)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__doc__',
 '__file__',
 '__git_revision__',
 '__loader__',
 '__mkl_version__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_arg',
 '_distributor_init',
 '_globals',
 '_mat',
 '_mklinit',
 '_pytesttester',
 'abs',
 'absolute',
 'absolute_import',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex',
 'complex128',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'division',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'fv',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'int_asbuffer',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'ipmt',
 'irr',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mirr',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'nper',
 'npv',
 'numarray',
 'number',
 'obj2sctype',
 'object',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'pmt',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'ppmt',
 'print_function',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'pv',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'rank',
 'rate',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypeNA',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typeDict',
 'typeNA',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [30]:
import numpy as np
marks=np.random.randint(1,100,size=20)
names=np.random.choice(["r1","r2","r3","r4","r5"],20)
avg=np.random.choice([1,2,3,6,4],20)

In [31]:
a=list(zip(marks,names,avg))

In [32]:
pd.DataFrame(a,columns=["marks","names","avg"])

    marks names  avg
0      89    r2    2
1      62    r1    1
2      86    r1    1
3      65    r1    4
4      11    r4    2
5       5    r4    6
6      34    r4    3
7      51    r5    1
8      92    r4    1
9      61    r5    6
10     11    r4    4
11     63    r2    3
12     96    r2    6
13     89    r3    6
14     49    r1    3
15     69    r1    1
16     12    r1    1
17     80    r3    4
18     70    r5    3
19     77    r4    2

In [34]:
b=pd.DataFrame({"marks":marks,"names":names,"avg":avg})
b

    marks names  avg
0      89    r2    2
1      62    r1    1
2      86    r1    1
3      65    r1    4
4      11    r4    2
5       5    r4    6
6      34    r4    3
7      51    r5    1
8      92    r4    1
9      61    r5    6
10     11    r4    4
11     63    r2    3
12     96    r2    6
13     89    r3    6
14     49    r1    3
15     69    r1    1
16     12    r1    1
17     80    r3    4
18     70    r5    3
19     77    r4    2

In [36]:
b.values

array([[89, 'r2', 2],
       [62, 'r1', 1],
       [86, 'r1', 1],
       [65, 'r1', 4],
       [11, 'r4', 2],
       [5, 'r4', 6],
       [34, 'r4', 3],
       [51, 'r5', 1],
       [92, 'r4', 1],
       [61, 'r5', 6],
       [11, 'r4', 4],
       [63, 'r2', 3],
       [96, 'r2', 6],
       [89, 'r3', 6],
       [49, 'r1', 3],
       [69, 'r1', 1],
       [12, 'r1', 1],
       [80, 'r3', 4],
       [70, 'r5', 3],
       [77, 'r4', 2]], dtype=object)

In [39]:
b.set_index("marks",inplace=True)

KeyError: 'marks'

In [40]:
b.sort_values(by="avg",ascending=False)

      names  avg
marks
5        r4    6
89       r3    6
61       r5    6
96       r2    6
11       r4    4
65       r1    4
80       r3    4
63       r2    3
70       r5    3
34       r4    3
49       r1    3
89       r2    2
11       r4    2
77       r4    2
62       r1    1
92       r4    1
51       r5    1
69       r1    1
12       r1    1
86       r1    1

In [41]:
b.iloc[[1,2]]

      names  avg
marks
62       r1    1
86       r1    1

In [44]:
b.iloc[[True,False]]

      names  avg
marks
89       r2    2

In [46]:
b.loc[89]

      names  avg
marks
89       r2    2
89       r3    6

In [48]:
pd.read_csv("s1.csv")

   name clg  marks  avg
0    r1   a     89   75
1    r2   b     87   27
2    r1   a     89   75
3    r2   b     87   27
4    r1   a     89   75
5    r2   b     87   27
6    r1   a     89   75
7    r2   b     87   27

In [50]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object